<a href="https://colab.research.google.com/github/SushmithaReddyChintalapani/sushmitha_INFO5502_Spring2022/blob/main/lab_assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first Lab-assignment (01/25/2022, 50 points in total)** sushmitha

(1) Write a Python program to count the number of characters in a string. (5 points)

Sample String : 'google.com', 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [1]:
# write your answer here
input_str = input("Enter a Sample String: ")
result = {}
for char in set(input_str):
  # fetching count of each char and adding it to result dictionary
  result[char] = input_str.count(char)

print(result)

Enter a Sample String: google
{'g': 2, 'e': 1, 'l': 1, 'o': 2}

(2) Write a Python program to sum all the items in a list. (5 points)

In [3]:
# write your answer here
list1 = [5,3,6,1,9,7]
sum=0;
for elements in range(0, len(list1)):
    sum = sum + list1[elements]
print("Sum of elements in given list1: ", sum)

Sum of elements in given list1:  31

(3) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (5 points)

Sample String : 'restart', 

Expected Result : 'resta\$t'

In [4]:
# write your answer here
new_str=input("Enter the string")
first_ele=new_str[0]
empty_string=first_ele

for items in range(1,len(new_str)):
    
    if(new_str[items]==first_ele):
        empty_string=empty_string+"$"
    else:
        empty_string=empty_string+new_str[items]

print("Final String : "+empty_string);

Enter the stringrestart
Final String : resta$t

(4) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (5 points)

In [7]:
import math

a = int(input("Enter first num"))
b=int(input("Enter second num"))
print(math.pow(9, 3))
rem=a/b
pow=1+math.pow(rem,3)
S= 3.14*(pow)

print("S value is :",S)

Enter first num4
Enter second num2
729.0
S value is : 28.26

(5) Write a Python program to concatenate following dictionaries to create a new one. (5 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [8]:
# write your answer here

dict_x1={5:25, 7:49}
dict_x2={9:81, 3:9}
dict_x3={12:144,4:16}
dict_x4 = {}
for d in (dict_x1, dict_x2, dict_x3): dict_x4.update(d)
print(dict_x4)

{5: 25, 7: 49, 9: 81, 3: 9, 12: 144, 4: 16}

(6) Write a Python program to check whether an element exists within a tuple. (5 points)

In [9]:
# write your answer here
tuple_new = ("E", "L", "E", "P", "4", "H", "A", "N", "t", 9, )
print("L" in tuple_new)
print(10 in tuple_new)

True
False

(7) Write a Python program to find maximum and the minimum value in a set. (5 points)

In [10]:
# write your answer here
new_set = {45, 10, 66, 50, 7, 202}
print("total elements in a given set:")
print("\nMax value :")
print(max(new_set))
print("\nMin value :")
print(min(new_set))

total elements in a given set:

Max value :
202

Min value :
7

(8) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (5 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [11]:
# write your answer here
import random
 
def group(x, y):
    for n in range(0, len(x), y):
        yield x[n:n + y]

group_members = ['Mery','Jack','Hyna','Winder','Nick','Rosy','Krysa','Crystil','Nasy','Winker','Sap','Wic','Hary','Noty','Planr','Eter','Rick','Hick','Soria','Simla','Bubblu','Brain','Boby','Lara','Mary','Marten','Mini', 'Mick','Rick','Honey']
random.shuffle(group_members)
x = list(group(group_members, 5))
print(x)

[['Rick', 'Nasy', 'Brain', 'Hary', 'Noty'], ['Winker', 'Bubblu', 'Jack', 'Boby', 'Marten'], ['Eter', 'Nick', 'Mini', 'Rick', 'Rosy'], ['Winder', 'Mery', 'Planr', 'Crystil', 'Sap'], ['Simla', 'Hyna', 'Wic', 'Mick', 'Honey'], ['Mary', 'Krysa', 'Lara', 'Soria', 'Hick']]

(9) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (5 points)

In [15]:
from numpy.core.defchararray import endswith

import numpy as np
arrays = np.array([2, 3, 4, 5, 3, 4, 5, 3, 5, 4, 7, 8, 3, 6, 2])
flag = 0

for number in set(arrays):
  # get the count of occurences that are greater than 1.
  if np.count_nonzero(arrays == number) > 1:
    flag = 1
    print(number, end = ', ')

# if there are no duplicate elements, tehn we print '-1'.
if flag == 0:
  print("-1")

2, 3, 4, 5,

(10) Write a Python program to select all the Sundays of a specified year. (5 extra points)

In [16]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

       dt = date(year, 1, 1)
       
       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25